.notification
  %p チャットグループが作成されました

.chat-side
  .chat-side__user
    %p name
  .chat-side__groups
    %h1 groups
    %h2 まだメッセージはありません

.chat-main
  .chat-main__header
    %h3 sampleグループ
    %h4 member
  .chat-main__body
    %span.username name
    %span 2017/12/26
    %h6 text
  .chat-main__footer
    .chat-main__footer-body
      = form_tag do
        = text_field_tag :text