html, body{
  height:100%;
}
.chat-main{
  height: 100%;
  width: calc(100% - 300px);
  border: #eeeeee;
  float: right;
  &__header{
    height: 15%;
    border: solid 1px #eeeeee;

    &-group-name{
      font-size: 20px;
      color: $gray;
      padding-left: 40px;
      line-height: 65px;
    }

    &-group-member{

      font-size:12px;
      color: $light-gray;
      padding:5px 0 0 40px;
    }
    &-group-edit-btn{
      float: right;
      color: $light-blue;
      padding: 28px 40px 0 0;
      button {
        padding: 20px;
        color: $light-blue;
        border-color: $light-blue;

      }
    }
  }

  .chat-main__body{
    height: calc(100% - 30%);
    padding: 20px 0 0 40px;
    .message{
      .username{
        font-size:16px;
        font-weight: bold;
        color: $black;
        padding-right: 10px;
      }
      .time{
        font-size:12px;
        color: $light-gray;
      }
      .chat-main__message-body{
        font-size:14px;
        color: $black
      }
    }
  }

  .chat-main__footer{
    height: 108px;
    background: $footer-gray;
    .form{
      padding-top: 30px;
      .field {
        box-sizing:border-box;
        width:calc(100% - 110px - 15px);
        margin-right: 15px;
        position:relative;
        padding-left: 40px;
        float:left;
        .text{
          box-sizing:border-box;
          width:100%;
          height: 50px;
          font-size: 16px;
          color: #434A54;
        }

        i{
          position:absolute;
          cursor: pointer;
          right: 10px;
          top: 20px;
        }

        input[type = "file"]{
          display: none;
        }
      }
      input[type = "submit"]{
        box-sizing:border-box;
        width: 70px;
        background: $light-blue;
        padding: 20px 0;
        text-align: center;
        float:left;
      }
    }
  }
}
