@import "./reset";

@import "font-awesome";

@import "modules/user";

html, body {
	height: 100%;
}

.notification{
  p{
    color: white;
  	text-align: center;
  	background: #38AEF0;

	  }
}


.chat-side{
  height: 100%;
  width: 300px;
  background: #2f3e51;
  position: absolute;
    .chat-side__user{
      height: 15%;
      width: 100%;
      background: #253141;
	    .chat-side__user-name{
	       font-size: 16px;
	       color: #FFFFFF;
	       font-weight: bold;
	       line-height: 65px;
	       padding-left: 20px;
         margin-right:100px;
         display: inline;
		}

      i{
        color:#FFFFFF;
        margin-right:5px;
  }
}

     .chat-side__groups{
       padding: 20px 0 0 20px;

         .chat-side__groups-name{
           font-size: 15px;
           color: #FFFFFF;}


         .chat-side__groups-massege{
           font-size: 11px;
           color: #FFFFFF;
           margin: 5px 0 0 0;
      }
   }
}

.chat-main{
  height: 100%;
  width: calc(100% - 300px);
  border: #eeeeee;
  float: right;
    .chat-main__header{
	  height:15%;
	  border: solid 1px #eeeeee;

	    .chat-main__header-group-name{

		  font-size: 20px;
		  color: #333333;
		  padding-left: 40px;
		  line-height: 65px;
		}

		  .chat-main__header-group-member{

		  font-size:12px;
		  color: #999999;
		  padding:5px 0 0 40px;
		}
		.chat-main__header--group-edit-btn{
           float: right;
           color: #38AEF0;
           padding: 28px 40px 0 0;
           button {
         	padding: 20px;
         	color: #38AEF0;

      }
    }
  }
}

  .chat-main__body{
    height: calc(100% - 30%);
    padding: 20px 0 0 40px;
	  .username{
	    font-size:16px;
	    font-weight: bold;
	    color: #434A54;
	    padding-right: 10px;
        }

	    .time{
	    	font-size:12px;
	    	color: #999999;
	 }
	    .chat-main__message-body{

	    	font-size:14px;
	    	color: #434A54;

  }
}


    .chat-main__footer{
      height: 102px;
      background: #AAAAAA;
      padding-left: 40px;
        .form{
    	.text{
    		width:85%;
    		height: 50px;
    		font-size: 16px;
    		color: #434A54;
    		margin-top: 20px;
        display: inline;
      }
        }
        button{
          background: #38AEF0;
          padding: 20px 20px;
          margin-left: 20px;

  }
}




























