html, body {
  height: 100%;
}
.chat-side{
  height: 100%;
  width: 300px;
  background: $side-light-blue;
  position: absolute;
  &__user{
    height: 15%;
    width: 100%;
    background: $side-dark-blue;
    &-name{
      font-size: 16px;
      color: $white;
      font-weight: bold;
      line-height: 65px;
      padding-left: 20px;
    }
    i{
      color: $white;
      margin-right:5px;
      float:right;
      padding-top: 25px;
    }
  }

  &__groups{
    padding: 20px 0 0 20px;
    &-name{
      font-size: 15px;
      color: $white;
    }

    &-massege{
      font-size: 11px;
      color: $white;
      margin: 5px 0 0 0;
    }
  }
}

.chat-main{
  height: 100%;
  width: calc(100% - 300px);
  border: #eeeeee;
  float: right;
  &__header{
    height:15%;
    border: solid 1px #eeeeee;

    &-group-name{
      font-size: 20px;
      color: $gray;
      padding-left: 40px;
      line-height: 65px;
    }

    &-group-member{

      font-size:12px;
      color: $light-gray;
      padding:5px 0 0 40px;
    }
    &-group-edit-btn{
      float: right;
      color: $light-blue;
      padding: 28px 40px 0 0;
      button {
        padding: 20px;
        color: $light-blue;
        border-color: $light-blue;

      }
    }
  }

  .chat-main__body{
    height: calc(100% - 30%);
    padding: 20px 0 0 40px;
    .username{
      font-size:16px;
      font-weight: bold;
      color: $black;
      padding-right: 10px;
    }
    .time{
      font-size:12px;
      color: $light-gray;
    }
    .chat-main__message-body{

      font-size:14px;
      color: $black
    }
  }


  .chat-main__footer{
    height: 102px;
    background: $footer-gray;
    .form{
      padding: 20px 40px 0 0;
      .field {
        box-sizing:border-box;
        width:calc(100% - 70px - 15px);
        float:left;
        margin-right: 15px;
        position:relative;
        padding-left: 40px;
        .text{
          box-sizing:border-box;
          width:100%;
          height: 50px;
          font-size: 16px;
          color: #434A54;
        }
        i{
          position:absolute;
          right: 10px;
          top: 20px;
        }
      }
      button{
        box-sizing:border-box;
        width: 70px;
        background: $light-blue;
        padding: 20px 20px;
        float:left;
      }
    }
  }
}


